<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//stuff.webmaker.org/makerstrap/v0.1.7/makerstrap.complete.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Maker Party Certificate Generator</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#login" class="persona-logout"><i class="fa fa-lock"></i> logout</a></li>
        <li><a href="https://github.com/fuzzyfox/makerparty-certificate-generator"><span class="fa fa-github"></span> fuzzyfox/makerparty-certificate-generator</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block main %}
    {% endblock %}
  </div>

  <script src="https://login.persona.org/include.js"></script>
  <script>
    // utility function to parse/use query strings
    window.query = document.query = (function(window, document, undefined){
      var pairs = window.location.search.slice(1).split('&'),
        result = {};

      pairs.forEach(function(pair){
        pair = pair.split('=');
        result[pair[0]] = decodeURIComponent(pair[1] || '');
      });

      return JSON.parse(JSON.stringify(result));
    })(this, this.document);

    // login button? when clicked try login
    var personaLoginBtns = Array.prototype.slice.call( document.querySelectorAll('.persona-login') );
    personaLoginBtns.filter( function( btn ) {
      btn.addEventListener( 'click', function() {
        navigator.id.request();
      }, false);
    });

    // logout button? set to display current user + on click logout.
    var personaLogoutBtns = Array.prototype.slice.call( document.querySelectorAll('.persona-logout') );
    personaLogoutBtns.filter( function( btn ) {
      btn.addEventListener( 'click', function() {
        navigator.id.logout();
      }, false);
    });

    navigator.id.watch({
      onlogin: function(assertion) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/persona/verify", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.addEventListener("loadend", function(e) {
          var data = JSON.parse(this.responseText);
          if (data && data.status === "okay") {
            console.log("You have been logged in as: " + data.email);

            if( window.query.redirect ) {
              location.href = window.query.redirect;
            }

            if( location.pathname === '/login') {
              location.href = '/';
            }
          }
        }, false);

        xhr.send(JSON.stringify({
          assertion: assertion
        }));
      },
      onlogout: function() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/persona/logout", true);
        xhr.addEventListener("loadend", function(e) {
          console.log("You have been logged out");

          personaLogoutBtns.filter( function( btn ) {
            btn.parentNode.remove( btn );
          });

          if( location.pathname !== '/login') {
            location.href = '/login';
          }
        });
        xhr.send();
      }
    });
  </script>

  {% block custom_scripts %}
  {% endblock %}
</body>
</html>
