<% include header %>

<form action="/generate" method="POST" class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Generate Certificate</legend>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="recipient">Recipient Name</label>
    <div class="controls">
      <input id="recipient" name="recipient" placeholder="William Duyck" class="input-xlarge" required="" type="text" value="<%= query.recipient || '' %>">
      <p class="help-block">their real name if we know it</p>
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="recipientUsername">Recipient Username</label>
    <div class="controls">
      <input id="recipientUsername" name="recipientUsername" placeholder="fuzzyfox" class="input-xlarge" required="" type="text" value="<%= query.recipientUsername || '' %>">
      <p class="help-block">i.e. their webmaker username</p>
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="issuerName">Issuer Name</label>
    <div class="controls">
      <input id="issuerName" name="issuerName" placeholder="A Dhalla" class="input-xlarge" required="" type="text" value="<%= query.issuerName || '' %>">
      <p class="help-block">your name here, works best w/ first initial, last name</p>
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="issuerRole">Issuer Role</label>
    <div class="controls">
      <input id="issuerRole" name="issuerRole" placeholder="Maker Party Hero" class="input-xlarge" required="" type="text" value="<%= query.issuerRole || '' %>">
      <p class="help-block">your role within Maker Party</p>
    </div>
  </div>

  <!-- Select Basic -->
  <div class="control-group">
    <label class="control-label" for="outputFormat">File Format</label>
    <div class="controls">
      <select id="outputFormat" name="outputFormat" class="input-xlarge">
        <option value="svg">SVG</option>
        <option value="pdf" selected>PDF</option>
        <option value="png">PNG</option>
      </select>
    </div>
  </div>


  <!-- Button -->
  <div class="control-group">
    <label class="control-label" for="submit"></label>
    <div class="controls">
      <button id="submit" name="submit" class="btn btn-success">Generate</button>
    </div>
  </div>

  </fieldset>
</form>

<% include footer  %>
