{% extends '_layout.html' %}

{% block main %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table">
        <thead>
          <th>Date</th>
          <th>Organizer</th>
          <th>Event</th>
          <th>Cert has been<br> generated before?</th>
          <th>Generate Cert</th>
        </thead>
        <tbody class="table-striped">
          {% for event in events %}
            <tr>
              <td>{{ event.humanDate }}</td>
              <td>{{ event.organizerId }}</td>
              <td><a href="{{ event.link }}">{{ event.title }}</a></td>
              <td>{{ event.organiserHasCert }}</td>
              <td><a href="/generate?recipient={{ event.organizerId }}&recipientUsername={{ event.organizerId }}" class="btn {{ 'btn-danger' if event.organiserHasCert else 'btn-secondary' }}"><i class="fa fa-gears"></i> generate cert</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
