{% extends '_layout.html' %}

{% block main %}
  <div class="row">
    <div class="col-sm-12">
      <p>You can use this page to manually generate a certificate for someone.</p>
      <p class="text-warning"><strong>Caution:</strong> manual certificate generation does not prevent automated generation + email.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form action="/generate" method="POST" target="cert-result" class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Generate Certificate</legend>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="recipient">Recipient Name</label>
            <div class="controls">
              <input id="recipient" name="recipient" placeholder="William Duyck" class="input-xlarge" required="" type="text" value="{{ query.recipient }}">
              <p class="help-block">their real name if we know it</p>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="control-group">
            <label class="control-label" for="issuer">Issuer</label>
            <div class="controls">
              <select id="issuer" name="issuer" class="input-xlarge">
                <option value="amira">A Dhalla</option>
                <option value="lucy">L Harris</option>
                <option value="william">W Duyck</option>
                <option value="mark">M Surman</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="control-group">
            <label class="control-label" for="outputFormat">File Format</label>
            <div class="controls">
              <select id="outputFormat" name="outputFormat" class="input-xlarge">
                <option value="svg">SVG</option>
                <option value="pdf" selected>PDF</option>
                <option value="png">PNG</option>
              </select>
            </div>
          </div>


          <!-- Button -->
          <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
              <button id="submit" name="submit" class="btn btn-success">Generate</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <div class="iframe-responsive">
        <iframe frameborder="0" id="cert-result" name="cert-result"></iframe>
      </div>
    </div>
  </div>
{% endblock %}


{% block custom_scripts %}
  <script src="/js/generate.js"></script>
{% endblock %}
